*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: color(primary);
}

body {
  margin: 0;
  line-height: 1.6;
  font-family: $font-text;
  color: color(font-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  margin: 0;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.l-container {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  height: calc(100vh - 80px);
  min-height: calc(100vh - 80px);
  position: relative;
  text-align: center;
  width: 100%;
  padding: 0 16px;

  @include from ($medium) {
    margin: 0 auto;
    padding: 0;

    &--auth {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-gap: 32px;
    }
  }
}

.headline {
  font-size: 48px;
  position: relative;
  display: block;
  margin: 16px 0;
}
